body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img{
  display:block;
}
a {
text-decoration: none;
}
ul {
list-style: none;
padding-left: 0;
margin: 0;
}
h1,h2,h3 {
  margin:0;
}

p {
  margin: 0;
}

.container{ 
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right:76px;
} 

.nav-logo-part {
  color: #2e2f42;
  text-decoration: none;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-address {
  font-style: normal;
  margin-left: auto;
   
}
.nav-menu{
  display:flex;
  gap:40px;
}

.nav-menu a {
  display: block;
  padding: 24px 0;
}

.nav-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  
}

.nav-contacts:hover,
.nav-contacts:focus {
  color: #404bbf;
}

.section-title {
 background-color: #2e2f42;
 padding:188px 0 188px 0;
 background-image:url("../img/background-hero.jpg");
}

.page-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width:496px;
  align-items:center;
  margin: 0 auto;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  text-align: center;
  display:block;
  min-width: 169px;
  height:56px;
  border:none;
  border-radius:4px;
  align-items:center;
  margin: 0 auto;
  margin-top:48px; 
  padding: 16px 32px;

} 

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom:8px;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-teamw {
  background-color: #f4f4fd;
  padding:120px 0 120px 0;
}

.section-team {
  background-color: #f4f4fd;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom:72px;
}

.team-list-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.worker {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align:center;
  margin-bottom:8px;
}

.worker-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align:center;
}


.worker-list {
  list-style: none;
  font-size: 0;
  text-align: center;
  display:flex;
  gap:24px;
}



.title-advantages {
  background-color: #f4f4fd;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}


.advantages-list   {
  list-style: none;
  font-size: 0;
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  
 
}

.advantages-list-item{
  flex-basis: calc((100% - 72px) / 4);

}


.section-portfolio{
  padding-top:120px;
  padding-bottom:120px;
}

.title-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom:72px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom:8px;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list {
  list-style: none;
  font-size: 0;
  display:flex;
  flex-wrap:wrap;
  column-gap:24px;
  row-gap: 48px;

}

.portfolio-list-item{
 width: calc((100% - 48px) / 3);
 
}

.footer {
  background-color: #2e2f42;
  padding:100px 0 100px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom:16px;
}

.logo-part {
  color: #f4f4fd;
  text-decoration: none;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width:264px; 
}

.page-header{
  border-bottom:1px solid #e7e9fc;
  margin-left:auto;


}

.header-container{
  display:flex;
}

.header-nav{
  display:flex;
  align-items:center;

}





.nav-address-list{
  display:flex;
}

.nav-address-list li {
    margin-right: 40px;
}

.nav-address-list li:last-child {
    margin-right: 0;
}

.logo{
  display:inline-block;
}

.section-advantages{
    padding:120px 0 120px 0;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}



.worker-container{
   padding: 32px 16px ;

}



.app-container{
  padding:32px 16px;
  border:1px solid #e7e9fc;
  border-top:none;
  
  

}